In [1]:
import pandas as pd

C:\Users\fowle\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.8' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
start=pd.Period(year=2022, month=12, day=25, freq='D')
index=pd.period_range(start=start, periods=5)

In [3]:
columns=pd.MultiIndex.from_tuples([(1, 1), (1, 2), (2, 1), (2, 2)], names=['factor', 'sim'])
df=pd.DataFrame(index=index, columns=columns, dtype='float64')
df

factor       1       2
sim          1   2   1   2
2022-12-25 NaN NaN NaN NaN
2022-12-26 NaN NaN NaN NaN
2022-12-27 NaN NaN NaN NaN
2022-12-28 NaN NaN NaN NaN
2022-12-29 NaN NaN NaN NaN

In [4]:
print(df)
df[1]

factor       1       2
sim          1   2   1   2
2022-12-25 NaN NaN NaN NaN
2022-12-26 NaN NaN NaN NaN
2022-12-27 NaN NaN NaN NaN
2022-12-28 NaN NaN NaN NaN
2022-12-29 NaN NaN NaN NaN

sim          1   2
2022-12-25 NaN NaN
2022-12-26 NaN NaN
2022-12-27 NaN NaN
2022-12-28 NaN NaN
2022-12-29 NaN NaN

In [5]:
df.values

array([[nan, nan, nan, nan],
       [nan, nan, nan, nan],
       [nan, nan, nan, nan],
       [nan, nan, nan, nan],
       [nan, nan, nan, nan]])

In [6]:
num_factors=3
num_sims=5
factor_sims_cols=pd.MultiIndex.from_product((range(num_factors), range(num_sims)), names=('factor', 'sim'))
factor_sims_cols

MultiIndex([(0, 0),
            (0, 1),
            (0, 2),
            (0, 3),
            (0, 4),
            (1, 0),
            (1, 1),
            (1, 2),
            (1, 3),
            (1, 4),
            (2, 0),
            (2, 1),
            (2, 2),
            (2, 3),
            (2, 4)],
           names=['factor', 'sim'])

In [7]:
factor_sims_cols.nlevels

2

In [8]:
factor_sims_cols.get_level_values(1)

Int64Index([0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4], dtype='int64', name='sim')

In [9]:
factor_sims_cols.get_level_values('sim')

Int64Index([0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4], dtype='int64', name='sim')

In [10]:
len(df.columns)

4

In [11]:
df2 = df[(1, 1)]
df2

2022-12-25   NaN
2022-12-26   NaN
2022-12-27   NaN
2022-12-28   NaN
2022-12-29   NaN
Freq: D, Name: (1, 1), dtype: float64

In [12]:
print(df.values.flags)
print(df2.values.flags)

  C_CONTIGUOUS : False
  F_CONTIGUOUS : True
  OWNDATA : False
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False
  UPDATEIFCOPY : False

  C_CONTIGUOUS : True
  F_CONTIGUOUS : True
  OWNDATA : False
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False
  UPDATEIFCOPY : False

In [13]:
df.values.reshape?

In [14]:
print(df.values.strides)
print(df2.values.strides)

print(df.values.shape)
print(df2.values.shape)

(8, 40)
(8,)
(5, 4)
(5,)

In [16]:
start+1

Period('2022-12-26', 'D')

In [37]:
pd.date_range?

In [49]:
tz="Europe/London"
start = pd.Timestamp(day=1, month=3, year=2023, tz=tz)
print(start)
end = pd.Timestamp(day=1, month=3, year=2023, hour=23, tz=tz)
print(end)
rng = pd.date_range(start, end, freq='H')
print(rng)
start_period = pd.Period(start, freq='H')
print(start_period)
start_ts = start_period.to_timestamp().tz_localize(tz)
print(start_ts)

2023-03-01 00:00:00+00:00
2023-03-01 23:00:00+00:00
DatetimeIndex(['2023-03-01 00:00:00+00:00', '2023-03-01 01:00:00+00:00',
               '2023-03-01 02:00:00+00:00', '2023-03-01 03:00:00+00:00',
               '2023-03-01 04:00:00+00:00', '2023-03-01 05:00:00+00:00',
               '2023-03-01 06:00:00+00:00', '2023-03-01 07:00:00+00:00',
               '2023-03-01 08:00:00+00:00', '2023-03-01 09:00:00+00:00',
               '2023-03-01 10:00:00+00:00', '2023-03-01 11:00:00+00:00',
               '2023-03-01 12:00:00+00:00', '2023-03-01 13:00:00+00:00',
               '2023-03-01 14:00:00+00:00', '2023-03-01 15:00:00+00:00',
               '2023-03-01 16:00:00+00:00', '2023-03-01 17:00:00+00:00',
               '2023-03-01 18:00:00+00:00', '2023-03-01 19:00:00+00:00',
               '2023-03-01 20:00:00+00:00', '2023-03-01 21:00:00+00:00',
               '2023-03-01 22:00:00+00:00', '2023-03-01 23:00:00+00:00'],
              dtype='datetime64[ns, Europe/London]', freq='H')
2023-03-01 00:00
2023-03-01 00:00:00+00:00

In [51]:
ts1 = pd.Timestamp('2023-02-02')
ts2 = pd.Timestamp('2023-02-04')
td = ts2 - ts1
td

Timedelta('2 days 00:00:00')

In [53]:
import numpy as np
np.sinh?

In [55]:
rng.searchsorted?