In [1]:
import pandas as pd

C:\Users\fowle\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.8' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
start=pd.Period(year=2022, month=12, day=25, freq='D')
index=pd.period_range(start=start, periods=5)

In [3]:
columns=pd.MultiIndex.from_tuples([(1, 1), (1, 2), (2, 1), (2, 2)], names=['factor', 'sim'])
df=pd.DataFrame(index=index, columns=columns, dtype='float64')
df

factor       1       2
sim          1   2   1   2
2022-12-25 NaN NaN NaN NaN
2022-12-26 NaN NaN NaN NaN
2022-12-27 NaN NaN NaN NaN
2022-12-28 NaN NaN NaN NaN
2022-12-29 NaN NaN NaN NaN

In [4]:
print(df)
df[1]

factor       1       2
sim          1   2   1   2
2022-12-25 NaN NaN NaN NaN
2022-12-26 NaN NaN NaN NaN
2022-12-27 NaN NaN NaN NaN
2022-12-28 NaN NaN NaN NaN
2022-12-29 NaN NaN NaN NaN

sim          1   2
2022-12-25 NaN NaN
2022-12-26 NaN NaN
2022-12-27 NaN NaN
2022-12-28 NaN NaN
2022-12-29 NaN NaN

In [5]:
df.values

array([[nan, nan, nan, nan],
       [nan, nan, nan, nan],
       [nan, nan, nan, nan],
       [nan, nan, nan, nan],
       [nan, nan, nan, nan]])

In [6]:
num_factors=3
num_sims=5
factor_sims_cols=pd.MultiIndex.from_product((range(num_factors), range(num_sims)), names=('factor', 'sim'))
factor_sims_cols

MultiIndex([(0, 0),
            (0, 1),
            (0, 2),
            (0, 3),
            (0, 4),
            (1, 0),
            (1, 1),
            (1, 2),
            (1, 3),
            (1, 4),
            (2, 0),
            (2, 1),
            (2, 2),
            (2, 3),
            (2, 4)],
           names=['factor', 'sim'])

In [7]:
factor_sims_cols.nlevels

2

In [8]:
factor_sims_cols.get_level_values(1)

Int64Index([0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4], dtype='int64', name='sim')

In [9]:
factor_sims_cols.get_level_values('sim')

Int64Index([0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4], dtype='int64', name='sim')

In [11]:
len(df.columns)

4

In [33]:
df2 = df[(1, 1)]
df2

SyntaxError: invalid syntax (<ipython-input-33-dd9b6f3d290c>, line 1)

In [28]:
print(df.values.flags)
print(df2.values.flags)

  C_CONTIGUOUS : False
  F_CONTIGUOUS : True
  OWNDATA : False
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False
  UPDATEIFCOPY : False

  C_CONTIGUOUS : False
  F_CONTIGUOUS : True
  OWNDATA : False
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False
  UPDATEIFCOPY : False

In [42]:
df.values.reshape?

In [37]:
print(df.values.strides)
print(df2.values.strides)

print(df.values.shape)
print(df2.values.shape)

(8, 40)
(8,)
(5, 4)
(5,)