In [41]:
import pandas as pd

In [42]:
start=pd.Period(year=2022, month=12, day=25, freq='D')
index=pd.period_range(start=start, periods=5)

In [43]:
columns=pd.MultiIndex.from_tuples([(1, 1), (1, 2), (2, 1), (2, 2)], names=['factor', 'sim'])
df=pd.DataFrame(index=index, columns=columns, dtype='float64')
df

factor       1       2
sim          1   2   1   2
2022-12-25 NaN NaN NaN NaN
2022-12-26 NaN NaN NaN NaN
2022-12-27 NaN NaN NaN NaN
2022-12-28 NaN NaN NaN NaN
2022-12-29 NaN NaN NaN NaN

In [44]:
print(df)
df[1]

factor       1       2
sim          1   2   1   2
2022-12-25 NaN NaN NaN NaN
2022-12-26 NaN NaN NaN NaN
2022-12-27 NaN NaN NaN NaN
2022-12-28 NaN NaN NaN NaN
2022-12-29 NaN NaN NaN NaN

sim          1   2
2022-12-25 NaN NaN
2022-12-26 NaN NaN
2022-12-27 NaN NaN
2022-12-28 NaN NaN
2022-12-29 NaN NaN

In [45]:
df.values

array([[nan, nan, nan, nan],
       [nan, nan, nan, nan],
       [nan, nan, nan, nan],
       [nan, nan, nan, nan],
       [nan, nan, nan, nan]])

In [46]:
num_factors=3
num_sims=5
factor_sims_cols=pd.MultiIndex.from_product((range(num_factors), range(num_sims)), names=('factor', 'sim'))
factor_sims_cols

MultiIndex([(0, 0),
            (0, 1),
            (0, 2),
            (0, 3),
            (0, 4),
            (1, 0),
            (1, 1),
            (1, 2),
            (1, 3),
            (1, 4),
            (2, 0),
            (2, 1),
            (2, 2),
            (2, 3),
            (2, 4)],
           names=['factor', 'sim'])

In [56]:
factor_sims_cols.nlevels

2

In [58]:
factor_sims_cols.get_level_values(1)

Int64Index([0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4], dtype='int64', name='sim')

In [59]:
factor_sims_cols.get_level_values('sim')

Int64Index([0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4], dtype='int64', name='sim')

In [61]:
tuple([1, 4, 4])

(1, 4, 4)